Flask
psycopg2-binary
pytesseract
Pillow
pdf2image
pdfplumber
spacy
skillNer
werkzeug
gunicorn
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
ipython
jupyter
